body {
background-color: black;
	font-family: Verdana;
	border:0px;
	width:320px;
	margin:0px;
}

p {
	white-space: pre;
	font-family: monospace;
	display: block;
}

a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.header {
	width:320px;
	background-color:black;
	border: 0px;
	border-color: black;
	text-align: center;
	vertical-align: top;
}

.button {
	border: 1px solid;
	border-color: black;
	margin-right: 2px;
	width:32px;
	background-color: #f0f0f0;
	color: black;
}

input {
/*	width:310px; */
	width:190px; 
	border: 1px solid black;
	background-color: #d0d0d0;
	color: black;
}

.popup_content {
	font-size:12px;
	border: 1px solid black;
	margin-left:2px;
	padding:10px;
	width:270px;
	/* height:232px; */
	text-align:left;
	vertical-align:top;
	/* overflow:auto; */
	color: white;
	background-color:#000000;
}

.console {
	font-size:12px;
	width:310px;
	height:100%;
	text-align:left;
	/* overflow:auto; */
	/* background-color:#f0f0f0; */
	color:#ffffff;
	background-color:#000000;
}

.popup {
	position:absolute;
	z-index: 5;
	top: 10px;
	left: 10px;
	width:300px;
	height:290px;
	border: 1px solid black;
	background-color: #505070;
/* #a0cfe0; */
}

a:link {
	color: #3096cc;
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	color: #3096fc;
	text-decoration : none;
	background-color: transparent;
}
a:active {
	color: #3096fc;
	text-decoration : none;
	background-color: transparent;
}
a:hover {
	color: #3096fc;
	text-decoration : underline;
	background-color: transparent;
}

a {
	background-color: #272727 !important;
}

.popup_background {
	opacity:0.7;
	filter:alpha(opacity=70);
	position:fixed;
	top: 0px;
	left: 0px;
	width:100%;
	min-height:100%;
	border: 0px;
	background-color: #000000;
	z-index: 3;
}

.popup_title {
	margin-left: 5px;
	font-size:14px;
}
