*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
supported.*
config.mk
plugins.cfg
langs.cfg
.*.swp
.*.swo
*.un~
binr/r2agent/r2agent
binr/r2agent/r2agent.exe
binr/rabin2/rabin2
binr/rabin2/rabin2.exe
binr/radare2/radare2
binr/radare2/radare2.exe
binr/radiff2/radiff2
binr/radiff2/radiff2.exe
binr/rafind2/rafind2
binr/rafind2/rafind2.exe
binr/ragg2/ragg2
binr/ragg2/ragg2.exe
binr/rahash2/rahash2
binr/rahash2/rahash2.exe
binr/rarun2/rarun2
binr/rarun2/rarun2.exe
binr/rasm2/rasm2
binr/rasm2/rasm2.exe
binr/rax2/rax2
binr/rax2/rax2.exe
config-user.mk
libr/config.h
libr/include/r_userconf.h
shlr/java/out
shlr/java/out.exe
shlr/sdb/sdb
shlr/sdb/sdb.exe
shlr/sdb/src/sdb
shlr/sdb/src/.sdb
shlr/sdb/src/sdb.exe
shlr/sdb/src/.sdb.exe
shlr/sdb/src/sdb-version.h
shlr/sdb/src/libsdb.so*
shlr/capstone/
radare2-w32-*
