clang-log/
.clang_complete
.tmp-format
.#*
*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
*.dll
*.lib
*.obj
*.ilk
*.dSYM
supported.*
config.mk
plugins.cfg
langs.cfg
.*.swp
.*.swo
*.un~
*.pdb
*.lib
*.ilk
binr/r2agent/r2agent
binr/r2agent/r2agent.exe
binr/r2r/r2r
binr/r2r/r2r.exe
binr/rabin2/rabin2
binr/rabin2/rabin2.exe
binr/radare2/radare2
binr/radare2/radare2.exe
binr/radiff2/radiff2
binr/radiff2/radiff2.exe
binr/rafind2/rafind2
binr/rafind2/rafind2.exe
binr/ragg2/ragg2
binr/ragg2/ragg2.exe
binr/rahash2/rahash2
binr/rahash2/rahash2.exe
binr/ranal2/ranal2
binr/ranal2/ranal2.exe
binr/rarun2/rarun2
binr/rarun2/rarun2.exe
binr/rasm2/rasm2
binr/rasm2/rasm2.exe
binr/rax2/rax2
binr/rax2/rax2.exe
binr/*/_CodeSignature/*
build
build_sdb
config-user.mk
libr/bin/d/dll/dll
libr/config.h
libr/include/r_userconf.h
libr/include/r_version.h
libr/include/r_version.h.tmp
shlr/capstone/
shlr/java/out
shlr/java/out.exe
shlr/sdb/sdb
shlr/sdb/sdb.exe
shlr/sdb/src/sdb
shlr/sdb/src/.sdb
shlr/sdb/src/sdb.exe
shlr/sdb/src/.sdb.exe
shlr/sdb/src/sdb-version.h
shlr/sdb/src/sdb_version.h
shlr/sdb/src/libsdb.so*
shlr/spp/config.h
shlr/.cs_tmp.zip
sys/travis/*.txt
sys/.mark_python-deps
sys/.mark_swig
sys/_work
radare2-bindings
radare2-regressions
radare2-w32-*
radare2-w64-*
tags
**/GPATH
**/GRTAGS
**/GTAGS
**/.gdb_history
.lvimrc
.nconfig.tmp
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.kdev4/*
*.kdev4
radare2-*.zip
# Ignore meson related files
./bin
ninja.exe
.DS_Store
infer_out
infer-out/
cscope.out
r2-static/*
binr/rasign2/rasign2
binr/rasign2/rasign2.exe
compile_commands.json
libr/flag/d/tags.r2
# CLion
.idea/
# VSCode
.vscode/
CMakeLists.txt
*.cmake
cmake-build-*
# Snap packaging
/parts
/prime
/stage
/snap
/*.snap
# doxygen autogen
doc/doxygen/html
# Python
__pycache__
# Dynamic docker building folder to minimize docker context
.docker_alpine
.ccls-cache/
vgcore.*
