*._d
*._o
*.[ado]
*.so
*.pc
*.sdb
*.dylib
supported.*
config.mk
plugins.cfg
langs.cfg
.*.swp
*.un~
binr/r2agent/r2agent
binr/rabin2/rabin2
binr/radare2/radare2
binr/radiff2/radiff2
binr/rafind2/rafind2
binr/ragg2/ragg2
binr/rahash2/rahash2
binr/rarun2/rarun2
binr/rasm2/rasm2
binr/rax2/rax2
config-user.mk
libr/config.h
libr/include/r_userconf.h
shlr/java/out
shlr/sdb/sdb
shlr/sdb/src/sdb
