* @trufae
*.js @trufae
CODEOWNERS @trufae @XVilka @kazarmy @thestr4ng3r @ret2libc
libr/anal/ @thestr4ng3r
libr/anal/esil* @trufae @condret
libr/anal/xrefs.c @ret2libc
libr/arch/gb/ @condret
libr/asm/ @wargio @trufae
libr/asm/p/x86_* @ret2libc
libr/asm/p/arm_* @trufae
libr/bin/ @ret2libc @trufae
libr/bin/format/elf/ @ret2libc @kazarmy
libr/bin/format/mach0/ @trufae
libr/bin/format/objc/ @trufae
libr/bin/format/wasm/ @wargio
libr/config/ @trufae @ret2libc
libr/cons/ @thestr4ng3r @trufae
libr/core/cmd.c @ret2libc @trufae 
libr/debug/ @yossizap @trufae
libr/egg/ @trufae
libr/flag/ @ret2libc @trufae
libr/fs/ @trufae
libr/io/ @condret @trufae @ret2libc
libr/lang/ @thestr4ng3r @trufae @ret2libc
libr/magic/ @trufae
libr/parse/ @ret2libc @trufae
libr/reg/ @XVilka @trufae
libr/socket/ @XVilka @yossizap
libr/syscall/ @ret2libc @trufae
libr/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/radare2-shell-parser/ @ret2libc
shlr/tcc/ @XVilka @trufae
shlr/w32dbg_wrap/ @yossizap
shlr/windbg/ @yossizap
doc/fortunes.nsfw @thestr4ng3r
