* @radare
*.js @radare
CODEOWNERS @radare @XVilka @kazarmy @thestr4ng3r @ret2libc
libr/anal/ @thestr4ng3r
libr/anal/esil* @radare @condret
libr/anal/xrefs.c @ret2libc
libr/arch/gb/ @condret
libr/asm/ @wargio @radare
libr/asm/p/x86_* @ret2libc
libr/asm/p/arm_* @radare
libr/bin/ @ret2libc @radare
libr/bin/format/elf/ @ret2libc @kazarmy
libr/bin/format/mach0/ @radare
libr/bin/format/objc/ @radare
libr/bin/format/wasm/ @wargio
libr/config/ @radare @ret2libc
libr/cons/ @thestr4ng3r @radare
libr/core/cmd.c @ret2libc @radare 
libr/debug/ @yossizap @radare
libr/egg/ @radare
libr/flag/ @ret2libc @radare
libr/fs/ @radare
libr/io/ @condret @radare @ret2libc
libr/lang/ @thestr4ng3r @radare @ret2libc
libr/magic/ @radare
libr/parse/ @ret2libc @radare
libr/reg/ @XVilka @radare
libr/socket/ @XVilka @yossizap
libr/syscall/ @ret2libc @radare
libr/util/ @ret2libc @thestr4ng3r
shlr/gdb/ @yossizap
shlr/ptrace-wrap/ @thestr4ng3r
shlr/radare2-shell-parser/ @ret2libc
shlr/tcc/ @XVilka @radare
shlr/w32dbg_wrap/ @yossizap
shlr/windbg/ @yossizap
doc/fortunes.nsfw @thestr4ng3r
