a {
  color: #3030a0;
}

.app-panels > * {
  width: 320px;
  background-color: #eaeaea;
  box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
}

.menu-button {
  clear:none;
  float:left;
  margin:10px !important;
  width:150px;
}

.rowline {
  width:200px
}

@media all and (max-width: 600px) {
  .app-panels > * {
    min-width: 100%;
    max-width: 100%;
  }
}

.onyx-sample-tools {
  padding-bottom:10px;
}
.onyx-sample-tools > * {
  margin: 3px;
}

.r2ui-terminal {
  color: black;
  editable: false;
}

.r2ui-input {
  margin-top:8px;
  background-color: #909090;
  width: 90%;
  display: inline-block;
}

/* TODO: :hover change mouse pointer */
.moreless {
  background-color:#d0d0d0;
  width:90%;
  height:24px;
  padding-left:10px;
  border:0px;
}

.r2panel {
  background-color:#d0d0d0;
/*  padding-left:8px; */
}
