avr+ r0 int32
avr+ r1 int32
avr+ r2 int32
avr+ r3 int32
avr+ r4 int32
avr+ r5 int32
avr+ r6 int32
avr+ r7 int32
avr+ r8 int32
avr+ r9 int32
avr+ r10 int32
avr+ r11 int32
avr+ r12 int32
avr+ r13 int32
avr+ r14 int32
avr+ r15 int32
avra pc r15
avra sp r14
avo mov $1=$2
avo cmp tmp=$1,$1-=$2,$1=tmp
avo sub $1=$2-$3
avo add $1=$2+$3
avo strb $2=$1
avo bne jnz $1
avo beq jz $1
avo b jmp $1
avo bl call $1
avo svc int $1
avrc pc sp bp
avrf zf
avrr r0
