/* Based on werc stylesheet (werc.cat-v.org) */

/* Header */
.header {
  color: rgb(39,78,144);
  background-color: rgb(140,170,230);
  background-color: #ff6d06;
  border: solid 0 black;
  border-width: 2px 0;
}

.headerTitle {
  color: black;
  font-size: 233%;
  font-weight: normal;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
}

.headerSubTitle {
  font-size: 50%;
  font-style: italic;
  margin-left: 1em;
}

.headerTitle a { color: black; }
.headerTitle a:hover { text-decoration: none; }

/* Side */
#side-bar {
  width: 12em;
  float: left;
  clear: left;
  border-right: 1px solid #ddd;
}

#side-bar ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0.3em 0;
}

#side-bar li {
  margin: 0;
  padding: 0.1ex 0;  /* Circumvents a rendering bug (?) in MSIE 6.0  XXX should move to iehacks.css, this causes an ugly gap */
}

#side-bar a {
  color: rgb(0,102,204);
  background-color: transparent;
  margin: 0;
  padding: 0.25em 1ex 0.25em 2mm;
  display: block;
  text-transform: capitalize;
  font-weight: bold!important;
  font-size: 102%;
  border-left: white solid 0.2em;
}

#side-bar a:hover {
  color: white;
  background-color: rgb(100,135,220);
  border-left: black solid 0.2em;
  text-decoration: none;
}
 
/* Main Copy */
#main {
  max-width: 50em;
  color: black;
  background-color: transparent;
  text-align: justify;
  line-height: 1.5em;
  margin: 0em 0 0 12em;
  padding: 0.5mm 5mm 5mm 5mm;
  border-left: 1px solid #ddd;
}

#bodyText {
  margin: 0 0 0 10.5em;
  padding: 2mm 5mm 2mm 5mm;
}

#main p {
  margin: 1em 1ex 1em 1ex !important; /* Need !important so troff-generated pages don't look totally squezed */
  padding: 0;
}

#main a {
  color: rgb(0,102,204);
  background-color: transparent;
}

#main a:hover {
  color:  rgb(100,135,220);
}

#main h1, #main h2 {
  color: rgb(0,102,204);
  background-color: transparent;
  font-size: 145.5%;
  font-weight: bold;
  margin: 2em 0 0 0;
  padding: 0.5ex 0 0.5ex 0.6ex;
  border-bottom: 2px solid rgb(0,102,204);
}

#main h2 {
  font-size: 115.5%;
  border-bottom: 1px solid rgb(0,102,204);
}

#main .topOfPage {
  color: rgb(0,102,204);
  background-color: transparent;
  font-size: 91%;
  font-weight: bold;
  text-decoration: none;
  margin: 3ex 1ex 0 0;
  padding: 0;
  float: right;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 2em 2em;
  padding: 0;
}

/* Footer */
#footer {
  color: white;
  background-color: rgb(100,135,220);
  padding: 0.4em;
  clear: both;
}

#footer .right {
  text-align: right;
  line-height: 1.45em;
}

#footer a {
  color: white;
  background-color: transparent;
}

/* General */
body {
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 84%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

li ul {
  padding-left: 0.6em !important;
}

table {
  border: solid 1px black;
}
th {
  background-color: #abc;
  border: solid 1px black;
   text-align: center;
}
td {
  background-color: #def;
  border: solid 1px black;
}

hr {
  border-width: 0px 0px 0.1em 0px;
  border-color: black;
}

acronym, .titleTip {
  border-bottom: 1px solid #ddd;
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

pre {
  margin-left: 2em; 
  font-size: 1.2em;
}

blockquote {
  border-left: 1px solid blue;
  font-style: italic;
}

/* pancake css */
textarea,body,input,td,tr,p,select,option,font {
        background-color: black !important;
        color: #e0e0e0 !important;
}

div,span,pre {
        background-color: black !important;
        color: #e0e0e0 !important;
}

h1,h2,h3,h4 {
        background-color: black !important;
        color: #e02020 !important;
}

a {
        color: #8080ff !important;
        /* color: #b0b0b0 !important; */
}

:hover {
        color: #f0f0f0 !important;
}
