.draggable {
	position: absolute;
}

div.block, h1.block, h2.block, p.block {
	border: 1px solid #9DA3B3;
	/*background-color: #E0E8FF; */
	background-color: #404040;
	color: white;
	padding: 5px;
}

div.canvas {
	border: 0px solid #262A37;
	background-color: black;
/*
	background-image: url('gradient.jpg');
	background-repeat: no-repeat;
	background-position: top right;
*/
	padding: 0px;	
}

.highlighter {
	border: 1px solid #CFDF62 !important;
	background-color: #F1FF90 !important;
	margin-bottom: 2px !important;
	padding: 0px !important;
	z-index: 3;
}

.highlighter .highlighter {
	border: 1px solid #7DAB76 !important;
	background-color: #BAFFB0 !important;
	margin-left: 2px !important;
	margin-right: 2px !important;
}

html {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: verdana;
	font-size: 11px;
	color: #33333F;
	padding: 0px;
	margin: 0px;
	background-color: black;
}

h1 {
	color: #FF7521;
	margin: 0px;
	font-size: 20px;
}

h2 {
	font-size: 15px;
	margin: 0px;
}

p, div {
	font-size: 11px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #FF9900;
}

.middle-label, .source-label, .destination-label {
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
}

div.connector {
	background-color: #ff9900;
	width: 5px;
	z-index: 1000;
}

table.main_table {
	width: 100%; 
	border-collapse: separate;
}

td.menu {
	padding: 5px;
}

.menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position: outside;
}

.menu li {
	border: none;
	padding: 0px;
	font-size: 12px;
	margin-bottom: 3px;
}

.block ol, .block ul {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 25px;
}

.code {
	font-family: monospace;
	line-height: 1.5em !important;
}
