.code {
	padding-left:10px;
	font-family:monospace;
	font-size:14px;
}

.comment {
background-color:#c0c0ff !important;
	color:blue;
	padding-left:10px;
	font-family:monospace;
	font-size:14px;
	white-space: pre-wrap;
}
